name: Publish ZENV Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout du code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Connexion à Docker Hub avec le token secret
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # 3. Build de l’image ZENV
      - name: Build Docker image
        run: |
          docker build \
            --build-arg VERSION=${{ github.sha }} \
            -t ${{ github.repository_owner }}/zenv:latest \
            -t ${{ github.repository_owner }}/zenv:${{ github.run_number }} .

      # 4. Push vers Docker Hub
      - name: Push Docker image
        run: |
          docker push ${{ github.repository_owner }}/zenv:latest
          docker push ${{ github.repository_owner }}/zenv:${{ github.run_number }}
